body {
    font-family: "Arial";
    background-color: antiquewhite;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.wrap {
    text-align: center;
}

.post {
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 5px;
    padding: 30px 15px;
    height: 340px;
    width: 340px;
}

.t1 {
    color: rgb(76, 76, 76);
    font-size: 12px;
    margin: -5px 0px 20px 0px;
}

.t2 {
    color: rgb(76, 76, 76)
}