body {
    background-color: rgb(245, 245, 245);
    font-family: "Arial";

}

a {
    color: rgb(28, 131, 222);
    text-decoration: none;
    font-weight: bold;
}

.post {
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 5px;
    padding: 20px 40px;
    height: 400px;
    width: 380px;
    position: relative;
}

.t1 {
    margin-bottom: -20px;
}

.t2 {
    line-height: 1.8;
    margin-bottom: -20px;
}

.t3 {
    line-height: 1.3;
    font-size: 17pt;
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0.2, rgb(0, 0, 0)), color-stop(1, #FFF));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.t4 {
    line-height: 1.4;
    color: #808080;
    margin-top: -10px;
}

.post:after {
    background-color: #0079c1;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 5px;
}
