:root {
    --light-grey-color: #FBFAFE;
    --light-purple-color: #ECE5FF;
    --purple-color: #794CFF;
    --green-color: #81C43B;
    --light-green-color: #F2F9EB;
    --grey-color: #1D2830;
    --dark-grey-color: #1D2830;
    --gray-blue-color: #35414B;
    --light-gray-blue-color: #4E5A65;
    --white-gray-color: #97A5B5;
    --light-white-gray-color: #E1E5EA;
    --smoke-color: #D9DBE1;
}