:root {
    --light-grey-color: #FBFAFE;
    --light-purple-color: #ECE5FF;
    --purple-color: #794CFF;
    --green-color: #81C43B;
    --light-green-color: #F2F9EB;
    --grey-color: #1D2830;
    --dark-grey-color: #1D2830;
    --gray-blue-color: #35414B;
    --light-gray-blue-color: #4E5A65;
    --white-gray-color: #97A5B5;
    --light-white-gray-color: #E1E5EA;
    --smoke-color: #D9DBE1;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter regular";
}

.btn {
    text-decoration: none;
    display: inline-block;
}

.wrapper {
    max-width: 1109px;
    margin: 0px auto;
}

.btn.light.purple {
    padding: 16px 23px;
    border-radius: 4px;
    border: 1px solid var(--light-purple-color);
    background: var(--light-purple-color);
    color: var(--purple-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.get-account {
    text-align: center;
    margin-bottom: 24px;
}

.btn.green {
    position: relative;
    padding: 8px 16px;
    border-radius: 100px;
    background: var(--green-color);
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    z-index: 10;

    display: inline-flex;
    gap: 10px;
    top: 160px;
}

.btn.light.green {
    margin: 0 0 0 -34px;
    padding: 8px 22px 8px 40px;
    width: 209px;
    height: 32px;
    border-radius:100px;
    background: var(--light-green-color);
    color: #35414B;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    z-index: 1;

    width: 209px;
    height: 32px;
    flex-shrink: 0;
    top: 160px;
}

.btn.purple {
    display: flex;
    padding: 18px 45px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid var(--purple-color);
    background: var(--purple-color);
    color: #FFF;
    font-family: "Inter";
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: flex;
    width: 322px;
    padding: 18px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #E1E5EA;
    background: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.btn.purple.medium {
    border-radius: 4px;
    width: 170px;
    color: #FFF;
    display: flex;
    padding: 18px 21px;
    align-items: flex-start;
    gap: 10px;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 32px;
}

header {
    width: 100%;
    height: 860px;
    flex-shrink: 0;
    border-radius: 100% / 0 0 80% 80%;
    border: 1px solid #F0EBFA;
    background: var(--light-grey-color);
    margin-bottom: 492px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1109px;
    top: 48px;
    z-index: 100;
}

nav .logo {
    color: #1D2830;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.44px;
}

nav .logo__dot {
    color: #794CFF;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.44px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    color: #35414B;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 178px;
    gap: 24px;

}

.post__1 {
    color: #35414B;
    text-align: center;
    font-family: "Inter";
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    width: 760px;
    height: 144px;
}

.post__2 {
    color: #4E5A65;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 505px;
    height: 48px;
}

form {
    display: inline-flex;
    align-items: flex-start;
    margin-top: 24px;
    margin-left: 314px;
}

.graph-1 {
    text-align: center;
}

.teams {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-left: 85px;
}

.teams .teams-1 {
    color: #4E5A65;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.teams .teams-1_number {
    color: #4E5A65;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.teams .teams-logo {
    display: flex;
    align-items: center;
    gap: 136px;
}

.discussion-section {
    background-color: #FBFAFE;
    margin: 100px -200px 0px -200px;
    display: flex;
    align-items: center;
}

.discussion-section .left {
    margin-left: 170px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.info__1 {
    display: inline-flex;
    padding: 26px 32px;
    margin: 60px 170px 0px 80px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #F6F3FC;
    background: #F6F3FC;
    align-items: flex-start;
}

.line_purple {
    position: absolute;
    margin-left: -35px;
    margin-top: -27px;
    width: 8px;
    height: 130px;
    flex-shrink: 0;
    background: #794CFF;
}

.survey {
    color: #35414B;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
}

.powerful {
    color: #4E5A65;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.info__2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 170px 60px 80px;
    gap: 26px;
    padding: 26px 32px;
}

.line_grey {
    border: 1px solid #F0EBFA;;
    margin-top: 26px;
}

.work {
    color: #35414B;
    text-align: center;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-top: 100px;
}

.work__cards {
    margin: 56px 0px 100px 0px;
}

.work__card_1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 306px;
    height: 162px;
    margin-bottom: 80px;
}

.work__card_2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 230px;
    height: 162px;
    margin-left: 120px;
    margin-bottom: 80px;
}

.work__card_3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 306px;
    height: 162px;
    margin-left: 135px;
    margin-bottom: 80px;
}
.work__card_4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 306px;
    height: 162px;
}

.work__card_5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 230px;
    height: 162px;
    margin-left: 120px;
}

.work__card_6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 306px;
    height: 162px;
    margin-left: 135px;
}

.work_info_1 {
    color: #35414B;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.work_info_2 {
    color: #4E5A65;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -16px;
}

.started-section {
    background-color: #FBFAFE;
    margin: 100px -200px 0px -200px;
    display: flex;
    align-items: center;
}

.started-section .left {
    margin-left: 170px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.started-section .graph-2 {
    margin-right: 190px;
    margin-top: 67px;
    margin-bottom: 68px;
    margin-left: 90px;
}

.started__info_1 {
    color: #35414B;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 24px;
}

.started__info_2 {
    color: #4E5A65;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.top {
    color: #35414B;
    text-align: center;
    font-family: "Inter";
    margin-top: 100px;
    margin-bottom: 48px;
}

.customers__love_1 {
    color: #35414B;
    text-align: center;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 48px;
}

.customers__love_2 {
    color: #4E5A65;

    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.persone {
    display: inline-flex;
    align-items: flex-end;
    gap: 116px;
    display: flex;
    margin-left: 50px;
}

.persone__Jorge {
    border-top: 4px solid #35414B;
    padding: 20px;
}

.persone__Francisco {
    padding: 20px;
}

.persone__Beth {
    padding: 20px;
}

.persone img {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.persone__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-left: 60px;
    width: 163px;
}
.persone__Jorge_1 {
    color: #4E5A65;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.persone__Jorge_2 {
    color: #4E5A65;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.app-section {
    display: inline-flex;
    padding: 64px 80px;
    align-items: center;
    gap: 143px;
    border-radius: 16px;
    background: #796EFF;
    width: 1110px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.app-info {
    color: #FFF;
    width: 423px;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.app-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer_first {
    background-color: #1D2830;
    padding: 80px 0;
    color: #fff;
    border-bottom:  1px solid #35414B;
}

.footer_first a {
    text-decoration: none;
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.footer_first .links_name {
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.footer_first ul {
    list-style: none;
    padding-left: 5px;
}

.footer_first ul li {
    margin: 24px 0;
}

.footer_first .links_container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.footer_first .p1 {
    margin: 20px 0;
}

.footer_second {
    background-color: #1D2830;
    color: #fff;
    padding: 33px 0;
}

.footer_second .copyright_container {
    display: grid;
    grid-template-columns: 2fr 0.3fr;
}

.footer_second .copyright {
    color: #D9DBE1;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
